.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
.idea/
.vscode/
*.apk
*.aab
*.keystore
local.properties
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/key.properties
key.properties
*.jks
.env
**/google-services.json
coverage/
